#Header {
  background: #202020;
  width: 100%;
  height: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

#Header .header-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

#Header .header-wrap > div {
  display: flex;
  align-items: center;
}

#Header .header-wrap .header-logo {
  width: 31%;
  padding-left: 15px;
}

#Header .header-wrap .header-search {
  width: 35%;
  height: 50%;
}

#Header .header-wrap .header-menu {
  width: 34%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

#Header .header-wrap > div > div {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

#Header .header-wrap > div > div > img {
  width: 100%;
  height: 100%;
}

#Header .header-wrap .header-logo > div:nth-child(1) {
  border-radius: 100%;
  padding: 10px;
}

#Header .header-wrap .header-logo > div:nth-child(1):hover {
  background-color: #313131;
}

#Header .header-wrap .header-logo > a {
  width: 100px;
  padding: 8px;
}

#Header .header-wrap .header-search div:nth-child(1) {
  width: 89%;
  height: 100%;
  display: flex;
}

#Header .header-wrap .header-search div:nth-child(2) {
  background-color: #313131;
  width: 70px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}

#Header .header-wrap .header-search div:nth-child(2) > img {
  width: 18px;
  height: 18px;
  opacity: 0.3;
}

#Header .header-wrap .header-search div > input {
  all: unset;
  width: 100%;
  border: 1px solid #313131;
  background-color: #181818;
  padding: 5px;
  color: #fff;
}

#Header .header-wrap .header-search div > input:focus {
  border: 1px solid #3ea6ff;
}

#Header .header-wrap .header-menu > div {
  width: 55px;
}

#Header .header-wrap .header-menu .useName {
  border-radius: 100%;
  background-color: lightsteelblue;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
}

#Header .header-wrap .header-menu .none {
  display: none;
}

#Header .header-wrap > :nth-child(4) > button {
  border: 1px solid #3ea6ff;
  width: 85px;
  background: none;
  color: #3ea6ff;
  padding: 10px;
  cursor: pointer;
  margin-right: 10px;
}

#Header .header-wrap > :nth-child(4) > button:focus {
  border-radius: 0px;
}

#Header .header-wrap .login-success {
  display: none;
}

@media screen and (max-width: 750px) {
  #Header .header-wrap .header-search {
    display: none;
  }

  #Header .header-wrap .header-menu {
    width: 70%;
  }
}
