.App {
  width: 100%;
  height: 100%;
}

.App-header {
  background-color: #202020;
  height: 60px;
  position: sticky;
  top: 0;
  z-index: 10000000;
}

.App-board {
  background-color: #181818;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 10000000;
}

.App-board > div:nth-child(1) {
  background: #202020;
  width: 70px;
  height: 100vh;
  z-index: 10;
}

.active {
  width: 265px !important;
  background-color: #202020;
}

.App-board > div:nth-child(2) {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

@media screen and (max-width: 750px) {
  .App-board {
    padding-bottom: 20px;
  }

  .App-board > div:nth-child(1) {
    position: absolute;
    left: -200px;
  }

  .active {
    position: absolute;
    left: 200px;
  }
}
